@font-face {
    font-family: 'KNUTRUTHTTF';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2312-1@1.1/KNUTRUTHTTF.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
.homebtn1{
    background-color: rgb(65, 210, 128);
    width: 200px;
    height: 50px;
    font-family: 'KNUTRUTHTTF';
    font-size: 15pt;
    font-style: bold;
}
.homebtn2{
    background-color: rgb(65, 210, 128);
    width: 200px;
    height: 50px;
    font-family: 'KNUTRUTHTTF';
    font-size: 12pt;
    font-style: bold;
}
h1 {
    text-align: center;
    font-size: 35pt;
    font-family: 'KNUTRUTHTTF';
    font-style: bold;
}
div {
    text-align: center;
    

}
