@font-face {
    font-family: 'KNUTRUTHTTF';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2312-1@1.1/KNUTRUTHTTF.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

h1 {
    text-align: center;
    font-size: 35pt;
    font-family: 'KNUTRUTHTTF';
    font-style: bold;
}

div {
    text-align: center;
    
}
